.form_avaliations
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

h1
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Licorice', cursive;
  font-size: 50px;
}

form
{
  font-family:Arial;
}

form div
{
  display:flex;
  flex-direction: column;
  margin-bottom: 30px;
}

form input, form textarea
{
  outline: unset;
  padding: 20px;
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  font-size:15px;
}

form input[type=submit]
{
  color:yellow;
  background-color: black;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

form input[type=submit]:hover
{
  background-color: white;
  color:black;
  font-weight: bold;
}

form label
{
  margin-left: 10px;
  font-weight: bold;
}

.avaliations 
{
  display: flex;
  justify-content: center;
  align-items:justify-content;
  flex-direction: column;
  width:100%;
}

.avaliation_box_container
{
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
  width:100%;
}

.avaliation_box
{
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
}

.profile_img 
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile_img img 
{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.profile 
{
  display: flex;
  align-items: center;
}

.name_user 
{
  display: flex;
  flex-direction: column;
}

.name_user strong
{
  color:#3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name_user span 
{
  color:#979797;
  font-size: 0.8rem;
}

.stars span
{
  color:#f9d71c;
}

.box_top 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:20px;
}

.comment 
{
  font-size: 0.9rem;
  color:#4b4b4b;
}